.user-input {
    margin: 2rem 1rem;
    padding: 1rem 2rem;
}

.user-input input {
    padding: 0.5rem 2rem;
    margin-left: 1rem;
    outline: none;
    background-color: #b2bec3;
    border: none;
}